CONFIG_DEFAULT_HOSTNAME="kloudos"
CONFIG_CC_VERSION_TEXT="gcc (KloudOS 9.3.0-17KloudOS~0.01) 9.3.0"
CONFIG_LOW_MEM_NOTIFY=y
CONFIG_SWAP=y
CONFIG_DISK_BASED_SWAP=y
CONFIG_INIT_STACK_NONE=n
CONFIG_INIT_STACK_ALL=y

# SELINUX
CONFIG_LSM="yama,loadpin,integrity,selinux"
CONFIG_DEFAULT_SECURITY_SELINUX=y
# CONFIG_SECURITY_SELINUX_DISABLE is not set
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SELINUX_AVC_STATS=y
CONFIG_SECURITY_SELINUX_CHECKREQPROT_VALUE=1
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_MISC=n
CONFIG_DEBUG_FS=n
CONFIG_KPROBES=n
CONFIG_DEBUG_INFO=n
CONFIG_KALLSYMS=n
CONFIG_KALLSYMS_ALL=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_BLK_DEBUG_FS_ZONED=n
CONFIG_L2TP_DEBUGFS=n
CONFIG_BT_DEBUGFS=n
CONFIG_MAC80211_DEBUGFS=n
CONFIG_CFG80211_DEBUGFS=n
CONFIG_CB710_DEBUG_ASSUMPTIONS=n
CONFIG_SCSI_DEBUG=n
CONFIG_MLX4_DEBUG=n
CONFIG_ATH10K_DEBUGFS=n
CONFIG_WIL6210_DEBUGFS=n
CONFIG_ATH9K_HTC_DEBUGFS=n
CONFIG_ATH9K_DEBUGFS=n
CONFIG_ATH9K_COMMON_DEBUG=n
CONFIG_IWLEGACY_DEBUGFS=n
CONFIG_IWLWIFI_DEBUGFS=n
CONFIG_RTW88_DEBUG=n
CONFIG_RTW88_DEBUGFS=n
CONFIG_IEEE802154_CA8210_DEBUGFS=n
CONFIG_IEEE802154_AT86RF230_DEBUGFS=n
CONFIG_SMS_SIANO_DEBUGFS=n
CONFIG_USB_SERIAL_DEBUG=n
CONFIG_WILCO_EC_DEBUGFS=n
CONFIG_CROS_EC_DEBUGFS=n
CONFIG_NFS_DEBUG=n
CONFIG_SUNRPC_DEBUG=n
CONFIG_CIFS_DEBUG=n
CONFIG_SYMBOLIC_ERRNAME=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DYNAMIC_DEBUG=n
CONFIG_PAGE_POISONING=n
CONFIG_PAGE_POISONING_NO_SANITY=n
CONFIG_PAGE_POISONING_ZERO=n
# CONFIG_DEBUG_RODATA_TEST is not set
CONFIG_ARCH_HAS_DEBUG_WX=n
CONFIG_DEBUG_WX=n
CONFIG_GENERIC_PTDUMP=n
CONFIG_PTDUMP_CORE=n
# CONFIG_SLUB_DEBUG_ON is not set
# CONFIG_SLUB_STATS is not set
CONFIG_HAVE_DEBUG_KMEMLEAK=n
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=n
# CONFIG_DEBUG_VM_PGTABLE is not set
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=n
# CONFIG_DEBUG_MEMORY_INIT is not set
CONFIG_HAVE_ARCH_KASAN=n
CONFIG_HAVE_ARCH_KASAN_VMALLOC=n
CONFIG_CC_HAS_KASAN_GENERIC=n
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=n
# CONFIG_KASAN is not set
CONFIG_KASAN_STACK=0
CONFIG_TRACE_IRQFLAGS_SUPPORT=n
CONFIG_EARLY_PRINTK_USB=n
# CONFIG_X86_VERBOSE_BOOTUP is not set
CONFIG_EARLY_PRINTK=n
CONFIG_EARLY_PRINTK_DBGP=n
CONFIG_EARLY_PRINTK_USB_XDBC=n
# CONFIG_EFI_PGT_DUMP is not set
CONFIG_HAVE_MMIOTRACE_SUPPORT=n
# CONFIG_IO_DELAY_0X80 is not set
CONFIG_IO_DELAY_0XED=n
# CONFIG_IO_DELAY_UDELAY is not set
# CONFIG_IO_DELAY_NONE is not set
CONFIG_PUNIT_ATOM_DEBUG=n
# CONFIG_UNWINDER_ORC is not set
CONFIG_UNWINDER_FRAME_POINTER=n
# CONFIG_UNWINDER_GUESS is not set
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DYNAMIC_DEBUG_CORE=n
CONFIG_CB710_DEBUG_ASSUMPTIONS=n
CONFIG_PM_DEBUG=n
CONFIG_PM_ADVANCED_DEBUG=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_ACPI_EC_DEBUGFS=n
CONFIG_ACPI_DEBUGGER=n
CONFIG_ACPI_DEBUGGER_USER=n
CONFIG_ACPI_DEBUG=n
CONFIG_SLUB_DEBUG=n
CONFIG_IOSF_MBI_DEBUG=n
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=n
CONFIG_X86_DEBUGCTLMSR=n
CONFIG_PRINTK_TIME=n
CONFIG_DEBUG_BUGVERBOSE=n
