CONFIG_REGULATOR_VCTRL=m
CONFIG_SC_DISPCC_7180=y
CONFIG_SC_GPUCC_7180=y
CONFIG_SC_VIDEOCC_7180=y
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=y
CONFIG_MTK_SCP=m
CONFIG_SND_SOC_MT8183_DA7219_MAX98357A=y
CONFIG_QCOM_WDT=y
CONFIG_QCOM_SOCINFO=y
CONFIG_INTERCONNECT_QCOM_SC7180=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_SERIAL_8250=n
CONFIG_SERIAL_8250_CONSOLE=n
CONFIG_SERIAL_OF_PLATFORM=n
CONFIG_QCOM_IPA=m
CONFIG_SC_MSS_7180=m
CONFIG_TYPEC=m
CONFIG_MALI_VALHALL=y
CONFIG_MALI_VALHALL_DMA_FENCE=y
CONFIG_MALI_VALHALL_EXPERT=y
CONFIG_DRM_PANEL_VISIONOX_RM69299=y
CONFIG_RTW88=m
CONFIG_RTW88_8822BE=y
CONFIG_RTW88_8822CE=y
CONFIG_XZ_DEC_ARM=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_USB_ARMLINUX=y


