CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_MISC=y
CONFIG_DEBUG_FS=y
CONFIG_KPROBES=y
CONFIG_DEBUG_INFO=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_BLK_DEBUG_FS=y
CONFIG_BLK_DEBUG_FS_ZONED=y
CONFIG_L2TP_DEBUGFS=m
CONFIG_BT_DEBUGFS=y
CONFIG_MAC80211_DEBUGFS=y
CONFIG_CFG80211_DEBUGFS=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_SCSI_DEBUG=m
CONFIG_MLX4_DEBUG=y
CONFIG_ATH10K_DEBUGFS=y
CONFIG_WIL6210_DEBUGFS=y
CONFIG_ATH9K_HTC_DEBUGFS=y
CONFIG_ATH9K_DEBUGFS=y
CONFIG_ATH9K_COMMON_DEBUG=y
CONFIG_IWLEGACY_DEBUGFS=y
CONFIG_IWLWIFI_DEBUGFS=y
CONFIG_RTW88_DEBUG=y
CONFIG_RTW88_DEBUGFS=y
CONFIG_IEEE802154_CA8210_DEBUGFS=y
CONFIG_IEEE802154_AT86RF230_DEBUGFS=y
CONFIG_SMS_SIANO_DEBUGFS=y
CONFIG_USB_SERIAL_DEBUG=m
CONFIG_WILCO_EC_DEBUGFS=m
CONFIG_CROS_EC_DEBUGFS=m
CONFIG_NFS_DEBUG=y
CONFIG_SUNRPC_DEBUG=y
CONFIG_CIFS_DEBUG=y
CONFIG_SYMBOLIC_ERRNAME=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_PAGE_POISONING=y
CONFIG_PAGE_POISONING_NO_SANITY=y
CONFIG_PAGE_POISONING_ZERO=y
# CONFIG_DEBUG_RODATA_TEST is not set
CONFIG_ARCH_HAS_DEBUG_WX=y
CONFIG_DEBUG_WX=y
CONFIG_GENERIC_PTDUMP=y
CONFIG_PTDUMP_CORE=y
# CONFIG_SLUB_DEBUG_ON is not set
# CONFIG_SLUB_STATS is not set
CONFIG_HAVE_DEBUG_KMEMLEAK=y
CONFIG_ARCH_HAS_DEBUG_VM_PGTABLE=y
# CONFIG_DEBUG_VM_PGTABLE is not set
CONFIG_ARCH_HAS_DEBUG_VIRTUAL=y
# CONFIG_DEBUG_MEMORY_INIT is not set
CONFIG_HAVE_ARCH_KASAN=y
CONFIG_HAVE_ARCH_KASAN_VMALLOC=y
CONFIG_CC_HAS_KASAN_GENERIC=y
CONFIG_CC_HAS_WORKING_NOSANITIZE_ADDRESS=y
# CONFIG_KASAN is not set
CONFIG_KASAN_STACK=1
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_EARLY_PRINTK_USB=y
# CONFIG_X86_VERBOSE_BOOTUP is not set
CONFIG_EARLY_PRINTK=y
CONFIG_EARLY_PRINTK_DBGP=y
CONFIG_EARLY_PRINTK_USB_XDBC=y
# CONFIG_EFI_PGT_DUMP is not set
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_IO_DELAY_0XED=y
# CONFIG_IO_DELAY_UDELAY is not set
# CONFIG_IO_DELAY_NONE is not set
CONFIG_PUNIT_ATOM_DEBUG=m
# CONFIG_UNWINDER_ORC is not set
CONFIG_UNWINDER_FRAME_POINTER=y
# CONFIG_UNWINDER_GUESS is not set
# end of x86 Debugging
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_CB710_DEBUG_ASSUMPTIONS=y
CONFIG_PM_DEBUG=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_PM_SLEEP_DEBUG=y
CONFIG_ACPI_EC_DEBUGFS=m
CONFIG_ACPI_DEBUGGER=y
CONFIG_ACPI_DEBUGGER_USER=y
CONFIG_ACPI_DEBUG=y
CONFIG_SLUB_DEBUG=y
CONFIG_IOSF_MBI_DEBUG=y
CONFIG_ARCH_SUPPORTS_DEBUG_PAGEALLOC=y
CONFIG_X86_DEBUGCTLMSR=y
CONFIG_PRINTK_TIME=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_MEMTEST=y
CONFIG_ARCH_HAS_KCOV=y
CONFIG_CC_HAS_SANCOV_TRACE_PC=y
CONFIG_TEST_BPF=m
CONFIG_TEST_BLACKHOLE_DEV=m
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_NOTIFIER_ERROR_INJECTION=m
CONFIG_PM_NOTIFIER_ERROR_INJECT=m
CONFIG_UNWINDER_ORC=y
CONFIG_X86_DEBUG_FPU=y
CONFIG_HAVE_MMIOTRACE_SUPPORT=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
