CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set

CONFIG_PM_DEBUG=n
CONFIG_PM_ADVANCED_DEBUG=n
CONFIG_CGROUP_DEBUG=n
CONFIG_IP_VS_DEBUG=n
CONFIG_DEBUG_DEVRES=n
CONFIG_DEBUG_PREEMPT=n
CONFIG_DEBUG_SPINLOCK=n
CONFIG_DEBUG_ATOMIC_SLEEP=n
CONFIG_DEBUG_CREDENTIALS=n
CONFIG_DRM_DEBUG_DP_MST_TOPOLOGY_REFS=n
CONFIG_DRM_DEBUG_MM=n
CONFIG_DRM_DEBUG_SELFTEST=n
#
# drm/i915 Debugging
#
CONFIG_DRM_I915_WERROR=n
CONFIG_DRM_I915_DEBUG=n
CONFIG_DRM_I915_DEBUG_MMIO=n
CONFIG_DRM_I915_SW_FENCE_DEBUG_OBJECTS=n
CONFIG_DRM_I915_SW_FENCE_CHECK_DAG=n
CONFIG_DRM_I915_DEBUG_GUC=n
CONFIG_DRM_I915_SELFTEST=n
CONFIG_DRM_I915_LOW_LEVEL_TRACEPOINTS=n
CONFIG_DRM_I915_DEBUG_VBLANK_EVADE=n
CONFIG_DRM_I915_DEBUG_RUNTIME_PM=n
CONFIG_DRM_I915_PCIE_STRICT_WRITE_ORDERING=n
CONFIG_DRM_I915_DEBUG_CONTIGUOUS=n
CONFIG_DRM_I915_DUMP_PPGTT=n
# end of drm/i915 Debugging

CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_MISC=n
CONFIG_DRM_I915_DEBUG_GEM=n
CONFIG_DEBUG_FS=n
CONFIG_DEBUG_INFO=n

CONFIG_DEBUG_BOOT_PARAMS=n
CONFIG_PUNIT_ATOM_DEBUG=n
CONFIG_SLUB_DEBUG_ON=n
CONFIG_DEBUG_STACKOVERFLOW=n

CONFIG_CFG80211_DEBUGFS=n
CONFIG_MAC80211_DEBUG_MENU=n
CONFIG_MAC80211_VERBOSE_DEBUG=n
CONFIG_IWLWIFI_DEBUG=n
CONFIG_IWLWIFI_DEBUGFS=n
CONFIG_ATH10K_DEBUG=n
CONFIG_ATH10K_DEBUGFS=n
CONFIG_ATH9K_DEBUGFS=n
CONFIG_ATH_DEBUG=n
CONFIG_RTLWIFI_DEBUG=n
CONFIG_WILCO_EC_DEBUGFS=n
CONFIG_DEBUG_GPIO=n

CONFIG_V4L_TEST_DRIVERS=n
CONFIG_TEST_ASYNC_DRIVER_PROBE=n
CONFIG_MMC_TEST=n

CONFIG_TEST_KASAN=n
CONFIG_TEST_FIRMWARE=n
CONFIG_TEST_UDELAY=n
CONFIG_TEST_MODULE=n
CONFIG_NL80211_TESTMODE=n
CONFIG_SW_SYNC=n

CONFIG_ARM_PTDUMP=n
CONFIG_ARM_PTDUMP_DEBUGFS=n
CONFIG_ARM64_PTDUMP_DEBUGFS=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_DEBUG_DEVRES=n
CONFIG_DEBUG_WX=n
CONFIG_GENERIC_IRQ_DEBUGFS=n
CONFIG_IRQ_DOMAIN_DEBUG=n
CONFIG_PM_TEST_SUSPEND=n
CONFIG_PM_SLEEP_DEBUG=n
CONFIG_DPM_WATCHDOG=n
CONFIG_PM_TRACE=n
CONFIG_PM_TRACE_RTC=n
CONFIG_DRM_CIRRUS_QEMU=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_VIRTIO_DMA_SHARED_BUFFER=n
CONFIG_VIRTIO_INPUT=n
CONFIG_VIRTIO=n
CONFIG_BLK_MQ_VIRTIO=n
CONFIG_VIRTIO_VSOCKETS_COMMON=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_VETH=n
CONFIG_VIRTIO_NET=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_TCG_VIRTIO_VTPM=n
CONFIG_DRM_VIRTIO_GPU=n
CONFIG_VIRTIO_PCI=n
CONFIG_VIRTIO_PMEM=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_VIRTIO_MMIO=n
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=n
CONFIG_VIRTIO_WL=n
CONFIG_VIRTIO_FS=n
CONFIG_VSOCKETS=n
CONFIG_VIRTIO_VSOCKETS=n
CONFIG_NET_9P_VIRTIO=n
CONFIG_VIRTIO_BLK=n
CONFIG_SCSI_VIRTIO=n
CONFIG_HAVE_KVM=n
CONFIG_DRM_I915_GVT_KVMGT=n
CONFIG_HAVE_KVM_ARCH_TLB_FLUSH_ALL=n
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=n
CONFIG_HAVE_KVM_EVENTFD=n
CONFIG_HAVE_KVM_INVALID_WAKEUPS=n
CONFIG_HAVE_KVM_IRQCHIP=n
CONFIG_HAVE_KVM_IRQFD=n
CONFIG_HAVE_KVM_IRQ_BYPASS=n
CONFIG_HAVE_KVM_IRQ_ROUTING=n
CONFIG_HAVE_KVM_MSI=n
CONFIG_HAVE_KVM_NO_POLL=n
CONFIG_HAVE_KVM_VCPU_ASYNC_IOCTL=n
CONFIG_HAVE_KVM_VCPU_RUN_PID_CHANGE=n
CONFIG_KVM_AMD=n   
CONFIG_KVM_AMD_SEV=n    
CONFIG_KVM_ARM_PMU=n     
CONFIG_KVM_ASYNC_PF=n    
CONFIG_KVM_ASYNC_PF_SYNC=n     
CONFIG_KVM_BOOK3S_64=n    
CONFIG_KVM_BOOK3S_64_HANDLER=n    
CONFIG_KVM_BOOK3S_64_HV=n    
CONFIG_KVM_BOOK3S_64_PR=n     
CONFIG_KVM_BOOK3S_HANDLER=n    
CONFIG_KVM_BOOK3S_HV_EXIT_TIMING=n     
CONFIG_KVM_BOOK3S_HV_POSSIBLE=n    
CONFIG_KVM_BOOK3S_PR_POSSIBLE=n    
CONFIG_KVM_COMPAT=n     
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=n    
CONFIG_KVM_GUEST=n    
CONFIG_KVM_INDIRECT_VECTORS=n     
CONFIG_KVM_INTEL=n    
CONFIG_KVM_MMIO=n    
CONFIG_KVM_MMU_AUDIT=n   
CONFIG_KVM_S390_UCONTROL=n    
CONFIG_KVM_VFIO=n    
CONFIG_KVM_WERROR=n   
CONFIG_KVM_XICS=n     
CONFIG_KVM_XIVE=n 
CONFIG_VIRTWL=n
CONFIG_VIRTUALIZATION=n
CONFIG_HYPERVISOR_GUEST=n
CONFIG_PARAVIRT=n
